<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-device-orientation-tests" version="1.0.6">
  <name>Cordova Device Orientation Plugin Tests</name>
  <license>Apache 2.0</license>
  <js-module src="tests.js" name="tests"/>
</plugin>
